.app-flascard{
	padding-top: .5em;
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.noteCard-front{
	border: 1px solid #c1c1c124;
    padding: .5em;
    box-shadow: 2px 3px 4px 0px #b7b7b7;
}

.noteCard-back{
	border: 1px solid #c1c1c124;
    padding: .5em;
	box-shadow: 2px 3px 4px 0px #b7b7b7;
	min-height: 10em;
}

.fa-check {
	margin-right: .3em;
	color: #5397259d;
	float: left;
}

.fa-times {
	margin-right: .3em;
	color: #f03c5a62;
	float: left;
}
hr{
	width:100%;
	display: block;
    height: 1px;
    border: 0;
    padding: 0;
}
.colorRed{
	border-top: 1px solid #f03c5a62;
}

.Answer-text{
	color:black;
	margin: .5em;
}

.App-flashcard-next{
	margin: 2em;
}