/* .App-about {
	border: 2px solid green;
}

.App-about-intro {
	border: 2px solid yellow;
}
*/
.App-about-steps{
	min-height: 2em;
} 

h1, h2, h3{
	color:#000000;
	margin: .5em;
	/* text-align: left; */
}

p{
	color:#696969;
	line-break: auto;
	padding: .5em;
}
