.logIn-example{
	color: #696969;
}

input{
	border-radius: 4px;
	background-color: #c4c4c4;
	color: #000000;
	margin: .5em;
}
button{
	border-radius: 4px;
	background-color: #696969;
	color: white;
	width: 10em;
}