/* .app-makeFlashcard{
	border: 2px solid green;
}

.flashcard-content{
	border: 2px solid purple;
}

.subject-selection{
	border: 2px solid gold;
} */

.flashcard-content{
	line-height: 1.5;
}

.subject-selection, .heading{
	color: black
}

.make-flashcard-question{
	padding: .5em;
}