/* nav li {
	display: inline-block;
  } */


/* TODO: look at the class names below and use this style, like the app files, try and make the 
styling limited at root level and style out individual components */

/* .Nav-item-left{
	  text-align: left;
  }

  .Nav-item-right{
	  text-align: right;
  } */